h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    font-style: italic;
    color:rgb(225, 137, 181);
    background-color: rgb(230, 216, 255);
}
h1.Rasp {
    color:rgb(218, 96, 133);
    background-color: rgb(150, 190, 147);
}
h1.Bsu {
    color:rgb(237, 205, 64);
    background-color: #ffedd8;
}
h1.Pep {
    color:rgb(255, 253, 253);
    background-color: #c61515;
}
h1.Pud {
    color:rgb(168, 132, 132);
    background-color: #5f3434;
}
h1.Egg {
    color:rgb(136, 90, 66);
    background-color: #ffbe64;
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:rgb(125, 76, 87);
}
p.Menu {
    color:rgb(94, 89, 139);
}
p.RaspI {
    background-color:rgb(255, 234, 245)
}
p.Bisu {
    background-color:rgb(204, 233, 203)
}
p.Pep {
    background-color:rgb(255, 188, 188)
}
p.Pud {
    background-color:rgb(193, 151, 151)
}
p.Egg {
    background-color:rgb(230, 192, 161)
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:rgb(94, 89, 139);
    background-color: rgb(230, 216, 255);
}
h2.Rasp {
    color:rgb(125, 76, 87);
    background-color: rgb(246, 156, 177);
}
h2.Bsu {
    color:rgb(76, 125, 76);
    background-color: rgb(255, 249, 222);
}
h2.Pep {
    color:rgb(197, 29, 29);
    background-color: rgb(210, 170, 170);
}
h2.Pud {
    color:rgb(186, 131, 142);
    background-color: rgb(116, 66, 66);
}
h2.Egg {
    color:rgb(255, 162, 90);
    background-color: rgb(255, 226, 151);
}
ul.All {
    color:rgb(94, 89, 139);
}
ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:rgb(125, 76, 87);
}
ol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:rgb(125, 76, 87);
    background-color:rgb(225, 225, 225)
}
a {
    color:rgb(165, 90, 122);
}
a.Back {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(230, 216, 255);
    color:rgb(165, 90, 122);
}
